
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600&display=swap');

:root {
    --box-color: rgb(239, 210, 232);
    --button-color: rgb(229, 161, 204);
}

header{
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 30px;
}

.view-highscores {
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}

.timer {
    text-align: right;
    margin-right: 20px;
}


.display-none {
    display: none;
}

button {
    background-color: var(--box-color);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
}

button:hover {
    background-color: var(--button-color);
    
}

input {
    font-size: 30px;
}

/* highscore box that shows highscores */
.saved-highscores {
    max-height: 250px;
    overflow: scroll;
}

/* showing and hiding each page */
.show {
    display: block;
}

.hide {
    display: none;
}


/* .option-container {
    display: block;
    margin: 80px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    width: 60vw;
    background-color: var(--box-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.question-container{
    text-align: center;
    font-size: 30px;
    background-color: var(--button-color);
    border-radius: 30%;
}

.option {
    padding: 10px;
    width: 10vw;
    height: 7vh;
    font-size: 30px;
    background-color: var(--button-color);
    border-radius: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 */
